:root {
  --primary-color: #16161a;
  --secondary-color: #171718;
  --navbar-color: rgb(5 9 38);
  --accent-color: hsl(195, 64%, 41%);
  --text-color: #fffffe;
}

* {
  font-family: "Titillium Web", sans-serif;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  margin: 0px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
