:root {
  --primary-color: black;
  --secondary-color: rgb(40, 40, 40);
  --accent-color: rgb(8, 171, 236);
  --text-color: white;
}

* {
  font-family: "Titillium Web", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}
