services {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--secondary-color);
  width: 100%;
}

.heading-services {
  width: 100%;
  text-align: center;
  font-size: 28px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--primary-color);
  border-style: solid;
  border-width: 3px;
  border-radius: 1rem;
  border-color: black;
  width: 30%;
  min-height: 350px;
  margin: 20px 5px 50px 5px;
  padding: 10px;
  min-height: 200px;
  max-height: 300px;
  transition: min-height 1s ease-in-out;
}

@media max-width: 786px{
  /* for Phones */
  
}

.card__pic {
  width: 50%;
  
  margin: 20px 0 20px 0;
}

.card__header {
  font-weight: bold;
  text-align: center;
}

.card__content {
  visibility: hidden;
  color: rgba(255, 255, 255, 0)
}

/* .card:hover {
  min-height: 600px;
  transition: 1s ease-in-out;
} */

/* Diese Klasse steuert die On-Click Funktion der Karten in JS */
.card--clicked {
  min-height: 600px;
  transition: 0.5s ease-in-out;
}

.card__content--clicked {
  visibility: visible;
  color: #ffffff;
  transition: visibility 2s ease-in 0.5s;
  transition: color 1s ease-in;
}
}
