services {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 20%;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.card {
  background-color: var(--primary-color);
  border-style: solid;
  border-width: 3px;
  border-radius: 1rem;
  border-color: black;
  min-width: 300px;
  margin: 20px;
  padding: 10px;
}
