services {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--secondary-color);
  width: 100%;
}

.heading-services {
  width: 100%;
  text-align: center;
  font-size: 28px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--primary-color);
  border-style: solid;
  border-width: 3px;
  border-radius: 1rem;
  border-color: black;
  width: 30%;
  margin: 20px 5px 50px 5px;
  padding: 10px;
  transition: height 0.5s ease-out;
  /* max-height: 300px; */
}

@media (max-width: 1100px) {
  /* for Phones */
  .card {
    width: 80%;
  }
}

@media (max-width: 800px) {
  /* for Phones */
  .card {
    width: 80%;
  }
}

.card__pic {
  width: 50%;
  margin: 20px 0 20px 0;
}

.card__header {
  margin: 0px 0px 15px 0px;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
}

.card__content {
  max-height: 0px;
  /* position: absolute;
  visibility: hidden; */
  color: rgba(255, 255, 255, 0);
}

/* .card--clicked { */
/* Diese Klasse steuert die On-Click Funktion der Karten in JS */
/* height: 600px;
  transition: 0.5s ease-in-out;
} */

.card__content--clicked {
  max-height: 2000px;
  opacity: 1;
  color: #ffffff;
  transition: 1s ease-in;
  
}
